# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Variables de entorno / secretos
.env

# Editor / VS Code
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db