{% extends 'vetcar/base.html' %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block contenido %}
<h1>{{ titulo }}</h1>
<a class="btn" href="{% url 'vetcar:crear' entidad %}">+ Nuevo registro</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            {% for col in columnas %}<th>{{ col }}</th>{% endfor %}
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in filas %}
        <tr>
            <td>{{ fila.obj.pk }}</td>
            {% for v in fila.valores %}<td>{{ v|default:"-" }}</td>{% endfor %}
            <td>
                {% if entidad == 'mascotas' %}
                    <a class="btn btn-gray" href="{% url 'vetcar:historial' fila.obj.pk %}">Historial</a>
                {% endif %}
                <a class="btn btn-warn" href="{% url 'vetcar:editar' entidad fila.obj.pk %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'vetcar:eliminar' entidad fila.obj.pk %}">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="10">No hay registros todavía.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}